*{
    margin: 0;
    padding: o;
}
body {
    position: relative;
    z-index: 1;
}
.navbar{
    position: fixed;
    background-color: #f0e8e8;
    box-shadow: 0px 1px 10px 0px;
    width: 100%;
    height: 70px;
    z-index: 2;
}
.b h5{
    margin-left: 120px;
    margin-top: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 35px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    cursor: pointer;
}
.center{
    width: 90%;
    margin: auto;
}
.b{
    display: flex;
}
.b h4{
    margin-top: 8px;
    margin-left: 10px;
    color: #A53DFF;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 35px;
    letter-spacing: 1px;
}
.home ul{
    display: flex;
    margin-left: 850px;   
    list-style-type: none;
    gap: 20px;
    margin-top: -25px;
}
.home ul li a{
    text-decoration: none;
    background-color: #9321f7;
    width: 69%;
    color:white;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 12px;
    unicode-bidi: isolate;
    
}
ul li a:hover{
    background-color: rgb(25, 227, 25);
    color: rgb(192, 30, 30);
}
.left{
    width: 50%;
    margin-top: 40px;
    margin-left: -250px;
}
.left h1{
    margin-top: 200px;
    display: flex;
    margin-left: 300px;
    width: 100%;
    font-size: 45px;
}
.left p{
    font-size: 15px;
    width: 300px;
    display: flex;
    margin-left: 300px;
    margin-top: 10px
}
.diva button{
    background: #A53DFF;
    margin-left: 300px;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 10px;
    unicode-bidi: isolate;
}
.right{
    margin-top: 100px;
    width: 50%;
    margin-left: 520px;
}
.right img{
    margin-top: 80px;
    width: 350px;
    height: 400px;
    border-radius: 50px;
    margin-left: 50px;
}
.div{
    display: flex;
}
.y{
    background-color: #EDD8FF80;
    width: 10%;
    height: 40px;
    text-align: center;
    margin-top: -150px;
    padding: 10px 0px;
}
.y p{
    font-size: 10px;
    opacity: 0.8;
}
.y h3{
    opacity: 0.8;
}
.u{
    background-color: #EDD8FF80;
    width: 10%;
    height: 40px;
    text-align: center;
    margin-top: -150px;
    padding: 10px 0px;
}
.u p{
    font-size: 10px;
    opacity: 0.8;
}
.u h3{
    opacity: 0.8;
}
.i{
    background-color: #EDD8FF80;
    width: 10%;
    height: 40px;
    text-align: center;
    margin-top: -150px;
    padding: 10px 0px;
}
.i p{
    font-size: 10px;
    opacity: 0.8;
}
.i h3{
    opacity: 0.8;
}
.yy{
    display: flex;
    margin-top: 87px;
    margin-left:45px; 
    gap: 5px;

}
/* digarish */
.duym{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 10px 0px;
    width: 91.5%;
    height: 500px;
    display: flex;
    margin-left: 40px;  
    border-radius: 20px;

}
.p img{
    margin-top: 50px;
    margin-left: 112px;
    border-radius: 50px;
}
.hello{
    position: relative;
    background: #FFFFFF;
    width: 270px;
    box-shadow: 0px 3px 20px 0px;
    height: 40px;
    top: 430px;
    left: -305px;
    border-radius: 3px;
}
.hello i{
    color: #A53DFF;
    margin-top: 7px;
    margin-left: 19px;
    font-size: 25px;
}
.hello a :hover{
    color: #fd5949;
}
.mehrob h3{
    margin-top: 100px;
    margin-left: -50px;
    width: 80%;
    font-size: 35px;
    
}
.box p{
    font-size: 15px;
    margin-top: 250px;
    margin-left: -600px;
}
.buton button{
    margin-top: 400px;
    margin-left: -600px;
    border: none;
    background-color:#A53DFF;
    border-radius: 2px;
    padding: 15px 35px;
    color: #FFFFFF;
}
.buton button:hover{
    background-color: rgb(25, 227, 25);
    color: black;
    cursor: pointer;
}
.butona button{
    position: relative;
    left: 840px;
    top: -100px;
    padding: 15px 34px;
    background-color: #FFFFFF;
    border: solid 1px #A53DFF;
    color: #A53DFF;
}
.butona button:hover{
    color: black;
    cursor: pointer;
}
.myproject img{
    border-radius: 5px;
}
.myproject{ 
    background: darkcyan;
    height: 450px;
    width: 360px;
    margin-top: -10px;
    object-fit: cover;
}
.admin h5{
    margin-top: 10px;
    margin-left: -25px;
    font-size: 23px;
}
.admin p{
    margin-top: 10px;
    opacity: 0.8;
    font-size: 16px;
    margin-left: 35px;
    width: 80%;
}
.admin button{
    margin-left: 35px;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 50px;
    border: solid   0.2px;
    background: #FFFFFF;
    color: #9321f7;
    border-radius: 3px; 
}
.aaaa img{
    border-radius: 5px;
}
.aaaa{ 
    background: darkcyan;
    height: 450px;
    width: 360px;
    margin-top: -10px;
}
.amin h5{
    margin-top: 20px;
    margin-left: -25px;
    font-size: 23px;
}
.amin p{
    margin-top: 10px;
    opacity: 0.8;
    font-size: 16px;
    margin-left: 35px;
    width: 80%;
}
.amin button{
    margin-left: 35px;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 50px;
    border: solid   0.2px;
    background: #FFFFFF;
    color: #9321f7;
    border-radius: 3px;
}
.bbbb img{
    border-radius: 5px;
}
.bbbb{ 
    background: darkcyan;
    height: 450px;
    width: 360px;
    margin-top: -10px;
}
.adm h5{
    margin-top: 20px;
    margin-left: -25px;
    font-size: 23px;
}
.adm p{
    margin-top: 10px;
    opacity: 0.8;
    font-size: 16px;
    margin-left: 35px;
    width: 80%;
}
.adm button{
    margin-left: 35px;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 50px;
    border: solid   0.2px;
    background: #FFFFFF;
    color: #9321f7;
    border-radius: 3px;
}
.vvvv img{
    border-radius: 5px;
}
.vvvv{ 
    background: darkcyan;
    height: 450px;
    width: 360px;
    margin-top: -10px;
}
.dmin h5{
    margin-top: 20px;
    margin-left: -25px;
    font-size: 23px;
}
.dmin p{
    margin-top: 10px;
    opacity: 0.8;
    font-size: 16px;
    margin-left: 35px;
    width: 80%;
}
.dmin button{
    margin-left: 35px;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 50px;
    border: solid   0.2px;
    background: #FFFFFF;
    color: #9321f7;
    border-radius: 3px;
}
.glawni{
    display: flex;
    gap: 80px;
    margin-top: 100px;
    margin-left: 50px;
    
}
.skils h1{
    margin-top: 100px;
    text-align: center;
    font-size: 80px;
}
.scils ul{
    font-size: 300px;
    list-style: none;
    margin-top: 100px;
    margin-left: 100px;
}
.scils ul{
   display: flex;
   gap: 100px;
}
.projeecti{
    font-size: 40px;
}
.proection{
    display: flex;
    gap: 80px;
    margin-top: 100px;
    margin-left: 50px;
}
.mycontact{
    margin-top: 100px;
    background-color: #fdd599;
    width: 35%;
    height: 500px;
    box-shadow:  0px 1px 10px 0px;
    margin-left: 32%;
    border-radius: 20px;
}
.mycontact h2{
    text-align: center;
    font-size: 30px;
}
.mycontact p{
    text-align: center;
}
Input[type="text"]{
    width: 300px;
    height: 30px;
    padding: 4px 40px;
    border: solid 0px;
    border-radius: 10px;
    font-size: 20px;
}
.mycontact input{
    margin-left: 20px;
    margin-top: 20px;
}
.mycontact i{
    position: relative;
    left: 55px;
    font-size: 25px;
    opacity: 0.5;
}
Input[type="calon"]{
    width: 450px;
    height: 100px;
    border-radius: 10px;
    border: solid 0px;
    padding: 4px 10px;  
}
.conttact{
    margin-left: 100px;
    margin-top: 20px;
}
.conttact form textarea{
    border-radius: 10px;
    border: solid 0px;
    margin-left: -50px;
}
.send button{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: solid 0px;    
    background-color: rgb(25, 106, 227);
    margin-top: 30px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
}
.send button:hover{
    color: black;
    background-color: #9321f7;
    cursor: pointer;
}
.send p{
    margin-top: 10px;
}
.zet{
    background: rgb(13, 19, 55);
    margin-top: 50px;
    height: 350px;
    position: relative;
    border-radius: 120px 120px 0px 0px;
}
.get h1{
    position: relative;
    color: #FFFFFF;
    margin-left: 120px;
    font-size: 40px;
    top: 30px;
    
}
.get p{
    position: relative;
    color: #e9f0bd;
    top: 50px;
    left: 120px;
    display: inline;
}
.com a{
    position: relative;
    color: #FFFFFF;
    top: 30px;
    left: 15px;
    text-decoration: none;
}
.com{
    position: relative;
    background-color: rgb(43, 31, 89);
    width: 150px;
    margin-left: 900px;
    height: 150px;
    box-shadow: 15px 20px;
    border-radius: 10px 0px;
    top: -30px;
}
.calon{
    display: flex;
    gap: 50px;
    margin-left: -82px;
}

.con{
    position: relative;
    background-color: rgb(43, 31, 89);
    width: 150px;
    height: 150px;
    box-shadow: 15px 20px;
    border-radius: 10px 0px;
    top: -30px;
}
.con a{
    position: relative;
    color: #FFFFFF;
    top: 30px;
    left: 15px;
    text-decoration: none;
}
.can{
    position: relative;
    background-color: rgb(43, 31, 89);
    width: 150px;
    height: 150px;
    box-shadow: 15px 20px;
    border-radius: 10px 0px;
    top: -30px;
}
.can a{
    position: relative;
    color: #FFFFFF;
    top: 30px;
    left: 22px;
    text-decoration: none;
}
.can a:hover{
    color: #A53DFF;
}
.con a:hover{
    color: #9321f7;
}
.com a:hover{
    color: #9321f7;
}
.iho i{
    position: relative;
    background-color: #fdd599;
    width: 35px;
    font-size: 30px;
    top: 71px;
    left: 120px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.iho i:hover{
    background-color: #f5ec86;
    color: rgb(240, 42, 2);
}
.ino i{
    position: relative;
    background-color: #fdd599;
    width: 35px;
    font-size: 30px;
    top: 71px;
    left: 120px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.ino i:hover{
    background-color: #f5ec86;
    color: rgb(137, 2, 240);
}
.uvo i{
    position: relative;
    width: 55px;
    font-size: 30px;
    top: 1px;
    left: -10px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.uvo{
    background-color: #fdd599;
    margin-left: 120px;
    margin-top: 70px;
    width: 35px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.uvo i:hover{
    color: rgb(25, 106, 227);
}
.ihoi{
    display: flex;
    gap: 20px;
}
.com i{
    position: relative;
    color: #f5ec86;
    left: 40px;
    top: 10px;
    font-size: 80px;
}
.con i{
    position: relative;
    left: 40px;
    top: 10px;
    font-size: 80px;
    color: #f5ec86;
}
.can i{
    position: relative;
    left: 45px;
    top: 10px;
    font-size: 80px;
    color: #f5ec86;
}
.my{
    font-size: 80px;
    text-align: center;
}